<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tipo=='agregar'?'Agregar mesa':'Editar mesa'}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4" th:text="${tipo=='agregar'?'Agregar mesa':'Editar mesa'}"></h2>
    <form method="post" th:action="@{'/mesas/guardar'}" th:object="${mesa}">
        <input name="tipo" th:value="${tipo}" type="hidden">
        <input th:field="*{id}" type="hidden">
        <div class="form-group mb-4">
            <label>Nombre</label>
            <input th:field="*{nombre}" type="text" class="form-control" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>
        <div class="form-group mb-4">
            <label>Capacidad</label>
            <input th:field="*{capacidad}" type="text" class="form-control" th:classappend="${#fields.hasErrors('capacidad')?'is-invalid':''}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('capacidad')}" th:errors="*{capacidad}"></div>
            <div th:if="${mensajeError!=null}" th:text="${mensajeError}" style="color: red"></div>
        </div>
        <div class="form-group mb-4">
            <label>Ubicación</label>
            <input th:field="*{ubicacion}" type="text" class="form-control" th:classappend="${#fields.hasErrors('ubicacion')?'is-invalid':''}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('ubicacion')}" th:errors="*{ubicacion}"></div>
        </div>
        <input th:field="*{disponibles}" type="hidden" class="form-control">
        <a th:href="@{'/mesas'}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary" th:text="${tipo=='agregar'?'Agregar':'Editar'}"></button>
    </form>
</div>
</body>
</html>